<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appUrl" value="http://10.10.6.51/mmclient/Recorder" />
    <!--<add key="appUrl" value="http://localhost:7139/Recorder" />-->
    <!--<add key="apiUrl" value="http://10.10.6.52/MMAPI/" />-->
    <add key="apiUrl" value="http://10.10.6.51/MMAPI/" />
    <!--<add key="apiUrl" value="http://localhost:52025/" />-->
    <add key="rtcUrl" value="http://10.10.6.51/mmclient/signalr" />    
    <!--<add key="rtcUrl" value="http://localhost:7139/signalr" />-->
    <add key="errorUrl" value="http://10.10.6.51/mmclient/Error/"/>
    <!--<add key="errorUrl" value="http://localhost:7139/Error/"/>-->
    <add key="localRtcBind" value="http://localhost:8666" />
    <add key="localRtcUrl" value="http://localhost:8666/signalr" />
    <add key="localApiBind" value="http://localhost:9666/api" />
    <add key="TestClientId" value="BR35DEV1" />
    <add key="TestLoginId" value="SYSADM" />
    <add key="TestPassword" value="SYSADM"/>
    <add key="TestJobId" value="40"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>